* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  text-rendering: optimizeLegibility;
}

/* Basic elements defined */

html, body {
  height:100%;
  width:100%;
  font-size: 10pt;
  color: #666;
  overflow: hidden;
  background-color: silver;
  box-shadow: inset 0 10rem #3949AB; /* the deep-plue stripe accross the top */
}

tt {
  font-family: Roboto Mono, monospace;
}

a {
  color: #2196f3;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #0a6ebd;
  text-decoration: underline;
  cursor: pointer;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a.red:hover,
a.red:focus {
  color: #F44336;
}

a.flat-button {
  display: flex;
  align-items: center;
  margin: 0.15rem 0.35rem;
  height: 2em;
  line-height: 2em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  white-space: nowrap;
  text-transform: uppercase;
}
a.flat-button:hover,
a.flat-button:focus {
  text-decoration: none;
}

form {
  font-size: 1.1rem;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
}

label {
  font-size: 1.1rem;
  margin-right: auto;
}

label.small {
  color: #1e88e5;
  font-size: 0.95rem;
}

img.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Input fields and buttons */

button {
  display: inline-block;
  font-family: inherit;
  font-size: 1.1rem;
  height: 2.2em;
  line-height: 2.2em;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.65;
  box-shadow: none;
}

button.round {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0;
  margin: 0;
  line-height: 3.5rem;
  outline: none; /* otherwise a square outline is shown */
  box-shadow: 0 2px 0.5rem 0 rgba(0, 0, 0, 0.25);
  z-index: 2;
}

button.round.small {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  box-shadow: 0 2px 0.35rem 0 rgba(0, 0, 0, 0.25);
}

button:focus, button:hover, button:active {
  color: #fff;
}
button:active {
  box-shadow: inset 0 3px 0.5rem rgba(0, 0, 0, 0.125);
}
button:active.round.small {
  box-shadow: inset 0 2px 0.35rem rgba(0, 0, 0, 0.125);
}

button.blue {
  background-color: #1e88e5; /* blue 600 */
  color: white;
}
button.blue:focus, button.blue:hover, button.blue:active {
  background-color: #1976d2;
}

button.blue {
  background-color: #1e88e5; /* blue 600 */
  color: white;
}
button.blue:focus, button.blue:hover, button.blue:active {
  background-color: #1976d2;
}

button.white {
  background-color: #FFF;
  color: #2196f3; /* blue 500 */
}
button.white:focus, button.white:hover, button.blue:active {
  background-color: #e3f2fd;
}

textarea, input {
  font-family: inherit;
  font-size: 1.1rem;
  background: transparent;
  border: none;
  margin: 0.25rem 0;
  padding: 0 0.125rem;
  outline: none;
  color: #666;
}
textarea {
  resize: none;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  height: 2.5rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  width: 100%;
}
textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 rgba(33, 150, 243, 0.25);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
  color: #bbb;
}

/* Scrollbar styling for Chrome. Firefox does not support scrollbar styling.  */
::-webkit-scrollbar {
	width: 0.6rem;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.3);
}

/* END of input and buttons */

/* BEGIN Popup/dropdown menu */

ul.menu {
  position: absolute;
  list-style: none;
  width: 12rem;
  border-radius: 0.2rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .45);
  background-color: white;
  z-index: 4;
}

ul.menu > li {
  padding: 0.75rem 0.75rem 0.75rem 1.25rem;
}

ul.menu > li:hover {
  background-color: #f5f5f5;
}

ul.menu > li.separator {
  padding: 0;
  margin: 2px;
  height: 1px;
  background-color: #ccc;
}

ul.menu > li.separator:hover {
  background-color: #ccc;
}

/* The down arrow head - trigger for context menu */
li .menuTrigger {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.5rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: 0.6rem;
  text-align: center;
  opacity: 0;
}
li:hover .menuTrigger {
  opacity: 1.0;
}

li:hover .menuTrigger a {
  color: #757575;
}

li.left:hover .menuTrigger {
  -text-shadow: #c5e1a5 0 0 15px, #c5e1a5 0 0 5px;
  background-image: radial-gradient(#c5e1a5 40%, transparent 75%);
}
li.right:hover .menuTrigger {
  -text-shadow: #fafafa 0 0 15px, #fafafa 0 0 5px;
  background-image: radial-gradient(#fafafa 40%, transparent 75%);
}

/* END popup/dropdown menu */

/* Generic text colors */
.blue {
  color: #2196f3; /* blue 500 */
}

.red {
  color: #D32F2F; /* red 700 */
}

.gray {
  color: #757575;
}

.small {
  font-size: 90%;
}

.hr {
  display: block;
  width: 100%;
  height: 0.6rem;
  min-height: 0.3rem;
  background-color: #f0f0f0;
  box-shadow: inset 0 0.25rem 0.25rem -0.25rem rgba(0,0,0,0.15),
    inset 0 -0.25rem 0.25rem -0.25rem rgba(0,0,0,0.15);
}

/* END generic text colors */

/* END of basic elements */

#mountPoint {
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Top-level application layout style: sidepanel + main view */
#app-container {
  position: relative;
  display: flex;
  height: 100%;
  max-width: 80rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.25rem;
  box-shadow: 1px 2px 0.3rem gray;
  background-color: white;
}

#sidepanel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0.3;
  width: 24rem;
  min-width: 18rem;
  height: 100%;
}

#topic-view {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#info-view {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0.3;
  width: 24rem;
  min-width: 18rem;
  height: 100%;
}

@media (max-width: 960px) {
  #mountPoint {
    padding: 0;
  }
}

@media (max-width: 640px) {
  #app-container {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  #sidepanel {
    width: 100%;
  }

  #info-view {
    width: 100%;
  }
}

/* Generic announcement text, centered vertically and horizontally */
.center-medium-text {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
}

/* Class to alternatively hide sidepanel/topic-view/info-view */
.nodisplay {
  display: none!important;
}

/* Quoted div */
.quoted {
  padding-left: 1.5rem;
}

/* BEGIN InPlaceEdit styles */
.in-place-edit {
  display: inline-block;
  font-family: inherit;
  font-size: 1.1rem;
  height: 2.5rem;
  line-height: 1.5;
  margin: 0.25rem 0.125rem;
  width: 100%;
  vertical-align: baseline;
  border-bottom: 1px dashed #ddd;
  cursor: pointer;
}

.in-place-edit.disabled {
  border-bottom: none;
  cursor: default;
}

.in-place-edit.placeholder {
  color: #bbb;
}

.in-place-edit .content {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
/* END of InPlaceEdit styles */

table.permission-editor {
  width: 100%;
}

table.permission-editor td {
  margin: 0.35rem 0;
  font-size: 1.1rem;
  vertical-align: middle;
}

table.permission-editor td.checkbox {
  text-align: center;
  color: #999;
}

.permission-editor .material-icons {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

.material-icons.clickable {
  cursor: pointer;
  border-bottom: none;
}

.clickable {
  border-bottom: 1px dashed #ddd;
  cursor: pointer;
}

/* END of top-level layout */

/* Sidepanel styles */
.panel-title {
  font-size: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.caption-panel {
  display: flex;
  align-items: center;
  flex: none;
  padding: 0.5rem;
  height: 4rem;
  white-space: nowrap;
  box-shadow: 0 1px 2px gray;
  /* z-index: 1; otherwise the shadow becomes invisible */
}

.dialog-buttons {
  display: flex;
  padding: 0.5rem;
  justify-content: flex-end;
}

.dialog-buttons button {
  margin: 0 0.5rem;
}

.avatar-box {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

#side-caption-panel {
  background-color: #2196f3; /* blue 500 */
  color: #bbdefb; /* light-blue 100 */
}

#side-caption-panel a {
  color: #bbdefb; /* blue 100 */
  padding-left: 0.5rem;
  line-height: 1;
}

#side-caption-panel :hover {
  color: white;
}

#sidepanel-title {
  margin-right: auto;
  margin-left: 0.5rem;
}

#self-avatar {
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  flex: none;
  border-radius: 50%;
}

#self-avatar.avatar-box {
  font-size: 1.8rem;
}

/* Application settings */
#settings-form ul {
  list-style: none;
}

#settings-form li {
  vertical-align: middle;
}
#settings-form label {
  display: inline-block;
  padding-left: 0.5rem;
}

/* Input with a search icon on the left */
input.search {
  text-indent: 1.4rem;
}
i.search {
  position: absolute;
  left: .6rem;
}

/* Area which displays an error message */
.alert-box {
  position: relative;
  display: none;
  overflow: hidden;
  padding: 1rem 1.5rem 1rem 0.5rem;
}
.alert-box .cancel {
  position: absolute;
  right: 0.25rem;
  top: 0.5rem;
}
.alert-box.success {
  display: flex;
  background-color: #dff0d8;
  border-bottom: 1px solid #d6e9c6;
  color: #3c763d;
}

.alert-box.error {
  display: flex;
  background-color: #ffcdd2;
  border-bottom: 1px solid #ffbfc8;
  color: #b71c1c;
}
.alert-box.warning {
  display: flex;
  background-color: #fff9c4;
  border-bottom: 1px solid #fff59d;
  color: #607d8b;
}
.alert-box .cancel .material-icons {
  font-size: 1rem;
}
.alert-box.error .cancel .material-icons {
  color: #b71c1c;
}
.alert-box.warning .cancel .material-icons {
  color: #757575;
}
.alert-box .icon {
  display: block;
  margin-right: 0.5rem;
}
.alert-box .icon .material-icons {
  font-size: 1.5rem;
}
.alert-box.warning .icon .material-icons {
  color: #fbc02d;
}
.alert-box.error .icon .material-icons {
  color: #ef5350;
}

/* List of contacts */
.flex-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.scrollable-panel {
  overflow-y: auto;
  margin-top: 0.25rem;
  margin-bottom: auto;
  height: 100%;
}

.contact-box {
  list-style: none;
  overflow-x: hidden;
}

.contact-box > li {
  display: flex;
  position: relative;
  padding: 0.35rem 0.25rem 0.5rem 0.35rem;
  min-height: 3.5rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: 1px solid #eee;
  border-collapse: collapse;
  overflow-x: hidden;
}
.contact-box > li:hover {
  background-color: #eceff1; /* blue-gray 50 highlight */
}
.contact-box > li.selected {
  background-color: #cfd8dc; /* blue-gray 100 highlight */
}

.contact-box .text-box {
  overflow-x: hidden;
}

.contact-box .contact-title {
  font-size: 1.05rem;
  text-overflow: ellipsis;
  overflow: hidden
}

.contact-box .contact-comment {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: lighter;
}

/* Avatar and online-offline indicator */
.contact-box .avatar-box {
  margin-right: 0.35rem;
  position: relative;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  min-height: 3rem;
  font-size: 1.8rem;
  overflow: hidden;
  padding: 0;
}
.contact-box .avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.contact-box .avatar-box > .material-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
}
.contact-box .text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Online-offline indicator positioned inside avatar-box */
.avatar-box .online, .offline {
  display: inline-block;
  width: 0.75rem;
  min-width: 0.75rem;
  height: 0.75rem;
  min-height: 0.75rem;
  flex-shrink: 0;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0.1rem;
}
.avatar-box .online {
  background-color: #4caf50;
}
.avatar-box .offline {
  background-color: #C0C0C0;
}

/* Typing indicator: animation of the online dot */
.online.typing {
  animation: typing 0.5s infinite;
}
@keyframes typing {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-0.3rem);
  }
}

.contact-box .checkmark.material-icons {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #0097A7;
  position: absolute;
  right: 0.05rem;
  bottom: 0.05rem;
  background-color: white;
  overflow: visible;
  border: 0.0px solid transparent;
}
/* END of avatar box */

#add-topic {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

/* Various forms inside a panel (signup form, new topic form) */
.panel-form {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.panel-form-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
  flex-grow: 0;
  flex-shrink: 0;
}

.panel-form-column {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
}

/* Make sure padding is only applied at
   the top level panel */
.panel-form-row > .panel-form-column,
.panel-form-column > .panel-form-column {
    padding: 0!important;
    flex-grow: 1;
}
.panel-form-column > .panel-form-row,
.panel-form-row > .panel-form-row
 {
    padding: 0!important;
}

/* Styling of avatar upload control */
.avatar-upload {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 7rem;
  height: 9rem;
  margin-left: 0.5rem;
  font-size: 4.5rem;
  padding: 0;
}

.avatar-upload .avatar-box {
  position: relative;
  width: 7rem;
  height: 7rem;
}

/* Clearfix */
.avatar-upload:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.avatar-upload .blank {
  text-align: center;
  vertical-align: middle;
  border: 1px dashed #999;
  font-size: 1rem;
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  color: #999;
  line-height: 7rem;
  border-radius: 50%;
}

.avatar-upload .preview {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  border-radius: 50%;
}

.avatar-upload .inputfile.hidden {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.avatar-upload .inputfile + label.round {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  bottom: 0;
  background-color: #fafafa;
}

.avatar-upload .inputfile:focus + label.round {
	outline: none;
}

.avatar-upload .inputfile:focus + label,
.avatar-upload .inputfile + label:hover {
  background-color: #e3f2fd;
  color: #42a5f5;
}
/* END of avatar upload */
/* END of new account panel */
/* END of sidepanel styles */

/* Topic/messages view */
#topic-view {
  position: relative;
}

#topic-caption-panel {
  background-color: #b0bec5;
}
#topic-caption-panel a {
  color: #757575;
  text-decoration: none;
}

#topic-caption-panel :hover {
  color: black;
}

#topic-caption-panel .avatar-box {
  position: relative;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  font-size: 1.8rem;
  margin-right: 0.35rem;
}

#hide-message-view {
  display: block;
  margin-right: 0.35rem;
}

#topic-users {
  margin-left: auto;
  margin-right: 1rem;
}

#topic-users .avatar-box {
  display: inline-block;
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  min-height: 1.8rem;
  font-size: 1rem;
  margin-right: 0.2rem;
}

/* Scrollable panel where the messages are shown */
#messages-panel {
  position: relative;
  padding: 0.75rem;
  overflow-y: scroll;
  background-color: #eceff1;
  height: 100%;
  background-image: url("../img/ignasi_pattern_s.png");
}

#messages-container {
  position: relative;
  overflow-y: hidden;
  height: 100%;
}

#write-only-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(45deg, rgba(255,255,255,0.5), rgba(255,255,255,.5) 0.5rem,
    rgba(255,255,255,.8) 0.5rem, rgba(255,255,255,.8) 1rem);
}

#write-only-note {
  position: absolute;
  background-color: white;
  color: #666;
  height: auto;
  width: auto;
  line-height: 2rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25rem 1.5rem;
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0,0,0,0.2);
}
/* Footer-panel with the input for the new message */
#send-message-panel {
  display: flex;
  align-items: center;
  flex: none;
  padding: 0.4rem 0.4rem 0.4rem 0.6rem;
  background-color: #eceff1;
  box-shadow: 0 -1px rgba(0,0,0,0.1); /* Faint shadow above panel */
  z-index: 2;
  height: 4rem;
}

#sendMessage {
  overflow: hidden;
  overflow-wrap: break-word;
}

#send-message-panel .material-icons {
  min-width: 1.75rem;
}

#send-message-panel .record-btn{
  width: 22px;
  height: 20px;
  margin-right: 5px;
}
#send-message-panel .record-btn span{
  position: absolute;
  top: -17px;
  color: #fff;
  left: 5px;
}

#send-message-panel .material-icons.secondary, .material-icons.disabled {
  color: #999!important;
}

#send-message-panel .material-icons.secondary:hover {
  color: #2196f3!important;
}

/* A static panel shown when no topic is selected */
#dummy-view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0f7fa;
}
#dummy-view a {
  text-decoration: none;
  display: block;
  text-align: center;
  vertical-align: middle;
}
#dummy-view a img{
  border-radius: 50%;
}

#image-preview {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(255,255,255,0.90);
}

#image-preview-caption-panel {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  line-height: 2.5rem;
  height: 3.5rem;
  padding: 1rem 0.75rem 0 0.75rem;
}

#image-preview-caption-panel a {
  color: #757575;
  text-decoration: none;
}

#image-preview-caption-panel a:hover {
  color: black;
}

#image-preview-container {
  margin: auto;
  overflow: hidden;
}

#image-preview-footer {
  display: flex;
  justify-content: space-around;
  height: 3.2rem;
  line-height: 1.5rem;
  background-color: transparent;
}

/* Talk bubbles */
.chat-box {
  list-style: none;
  padding: 0 0 3.5rem 0;
  margin: 0 0.5rem;
}

/* Group chats have avatars on the left. Make left margin smaller */
.chat-box.group {
  margin-left: -0.4rem;
}

.chat-box li {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.chat-box .right {
  justify-content: flex-end;
}

.chat-box .unsent {
  justify-content: flex-end;
}

.chat-box .bubble {
  display: flex;
  position: relative;
	max-width: 40rem;
  min-width: 12rem;
	height: auto;
  padding: 0.75rem 0.5rem 0.75rem 1.25rem;
  margin: 0;
  text-align: left;

  border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;

  /* tested in chrome 47 on mac - performance sucks
  -webkit-filter: drop-shadow(0px 1px 1px -1px rgba(0,0,0,0.3));
  -filter: drop-shadow(0px 1px 1px -1px rgba(0,0,0,0.3));
  */
}

.chat-box li.single {
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
}

.chat-box li.first {
  margin-top: 0.25rem;
  margin-bottom: 0.15rem;
}

.chat-box li.middle {
  margin-top: 0.15rem;
  margin-bottom: 0.15rem;
}

.chat-box li.last {
  margin-top: 0.15rem;
  margin-bottom: 0.75rem;
}

.chat-box .left .bubble {
  background-color: #c5e1a5;
}

.chat-box .right .bubble {
  background-color: #fafafa;
}

.chat-box .unsent .bubble {
  background-color: #CCC;
}

/* Left triangle placed bottom left flush. */
.chat-box .left .tip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  left: -10px;
  top: auto;
  bottom: 0;
  border: 10px solid;
  color: #c5e1a5;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: inherit;
  border-left-color: transparent;
}

/* Right triangle placed bottom right flush. */
.chat-box .right .tip::before {
	content: '';
	position: absolute;
  display: flex;
  justify-content: space-between;
	width: 0;
	height: 0;
  left: auto;
	right: -10px;
  top: auto;
	bottom: 0;
	border: 10px solid;
  color: #fafafa;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: inherit;
  border-left-color: transparent;
}

.chat-box .unsent .tip::before {
	content: '';
	position: absolute;
  display: flex;
  justify-content: space-between;
	width: 0;
	height: 0;
  left: auto;
	right: -10px;
  top: auto;
	bottom: 0;
	border: 10px solid;
  color: #CCC;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: inherit;
  border-left-color: transparent;
}

.chat-box .avatar-box {
  position: relative;
  width: 1.4rem;
  min-width: 1.4rem;
  height: 1.4rem;
  min-height: 1.4rem;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;
}

.chat-box .bubble p {
  color: #212121;
  margin: 0;
  max-width: 36rem;
  overflow-wrap: break-word;
}
/* The timestamp is a floating element. Need to ensure p is expanded
 * to accomodate it. It's usually called clearfix. */
.chat-box .bubble p:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.chat-box .timestamp {
  display: inline-block;
  position: relative;
  font-size: 80%;
  color: #777;
  padding-left: 1rem;
  top: 0.5rem;
  float: right;
  white-space: nowrap;
}

/* Typing notification bubble */
.chat-box .typing {
  display: inline-block;
  border-radius: 0.5rem;
  width: 2rem;
  padding: 0.25rem 0.35rem;
  vertical-align: middle;
  text-align: center;
  color: #aaa;
  margin-top: 0.75rem;
}

/* The name of the person who sent the message
 * (group chat only)
 */
.chat-box .author {
    font-size: 80%;
    color:#777;
}

/* Inline image styles */
.inline-image {
  max-width: 36rem;
  max-height: 24rem;
  overflow: hidden;
  border-radius: 0.1rem;
  cursor: pointer;
  display: block;
}

/* Attachment styles */
.attachment {
  display: flex;
}
.attachment:last-of-type {
  margin-bottom: -1rem;
}

/* END of talk bubbles */
/* END of topic/mesages view */

/* InfoView styles */
#info-caption-panel {
  background-color: #b0bec5;
}
#info-caption-panel a {
  color: #757575;
  line-height: 1;
  text-decoration: none;
}
#info-caption-panel :hover {
  color: black;
}

#info-title {
  margin-right: auto;
}

#group-manager {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#group-manager-buttons {
  display: flex;
  background-color: #eceff1;
  box-shadow: 0 -1px rgba(0,0,0,0.1); /* Faint shadow above panel */
  z-index: 2;
  justify-content: space-around;
  padding: 0.4rem;
  height: 4rem;
  border-left: 1px solid #ccc;
}

/* END of InfoView */

/* Modal dialog */
.dialog-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255,255,255,0.90);
}
.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  min-width: 24rem;
  min-height: 16rem;
  margin: auto;
  border-radius: 0.3rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0, 0.25);
}

.modal-dialog .title-panel {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 1rem;
}
.modal-dialog .body-panel {
  margin: auto 0.5rem auto 0.5rem;
}

.modal-dialog .dialog-buttons {
  border-top: 1px solid #f5f5f5;
  background-color: #fafafa
}

.modal-dialog .dialog-buttons a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.35rem 1.5rem;
}

/* END of modal dialog */

/* BEGIN Tabs */

ul.tabbar {
  flex-shrink: 0;
  flex-grow: 0;
  background: #eeeeee;
  list-style:none;
  margin:0;
  width:100%;
  overflow:hidden;
  padding:0;
  padding-left:1rem;
}

ul.tabbar > li {
  float: left;
}

ul.tabbar > li > a {
  position: relative;
  padding-top: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  min-width: 6rem;
  text-align: center;
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.1rem;
  color: rgba(33,150,243,0.6);
  overflow: hidden;
  box-shadow: inset 0 -2px 2.5px -1px rgba(0,0,0,0.25);
}

ul.tabbar li.active > a {
  color: #2196f3;
}

ul.tabbar li.active > a:after {
  height:0.15rem;
  display:block;
  content:"";
  bottom:0;
  left:0;
  position: absolute;
  background: #2196f3;
  animation: tabbar-border-expand 0.2s cubic-bezier(0.4, 0.0, 0.4, 1) 0s alternate forwards;
}

@keyframes tabbar-border-expand {
  0% {
    opacity:0;
    width:0;
  }
  100% {
    opacity:1;
    width:100%;
  }
}
/* END Tabs */

/* Miscellaneous */

/* Badge with the number of unread messages */
.unread {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bolder;
  background-color: #0097A7;
  color: white;
  border-radius: 50%;
  width: 1.35rem;
  height: 1.35rem;
  margin-left: 0.5rem;
  line-height: 1.35rem;
  text-align: center;
  vertical-align: middle;
}

/* Badge with a label, like [you], [muted], etc */
.badge {
  font-family: monospace;
  font-size: 0.75rem;
  border: 1px solid #666;
  background-color: #eee;
  color: #666;
  padding: 0 0.15rem 0 0.15rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  border-radius: 0.15rem;
  display: inline-block;
  align-self: flex-start;
}

.badge.green {
  border-color: #383;
  background-color: #efe;
  color: #383;
}

.badge.yellow {
  border-color: #660;
  background-color: #ffe;
  color: #660;
}

.badge.red {
  border-color: #933;
  background-color: #fee;
  color: #933;
}

/* Letter tile base style, responsive square box */
.lettertile {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
}

/* Div with letter tile content */
.lettertile > div {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  line-height: 1;
  color: rgba(250, 250, 250, 0.8); /* default text color #FAFAFA, gray 50 */
}

.lettertile:hover {
  color: white;
}

/* Colors of letter tiles */
.lettertile.color0 {
  background-color: #ef9a9a;
}
.lettertile.color1 {
  background-color: #90caf9;
}
.lettertile.color2 {
  background-color: #b0bec5;
}
.lettertile.color3 {
  background-color: #b39ddb;
}
.lettertile.color4 {
  background-color: #ffab91;
}
.lettertile.color5 {
  background-color: #a5d6a7;
}
.lettertile.color6 {
  background-color: #eeeeee;
}
.lettertile.color7 {
  background-color: #e6ee9c;
}
.lettertile.color8 {
  background-color: #c5e1a5;
}
.lettertile.color9 {
  background-color: #f0e57d;
}
.lettertile.color10 {
  background-color: #f48fb1;
}
.lettertile.color11 {
  background-color: #9fa8da;
}
.lettertile.color12 {
  background-color: #ffe082;
}
.lettertile.color13 {
  background-color: #bcaaa4;
}
.lettertile.color14 {
  background-color: #80deea;
}
.lettertile.color15 {
  background-color: #ce93d8;
}

/* Darker version of letter tile colors */
.lettertile.dark-color0 {
  background-color: #C62828;
}
.lettertile.dark-color1 {
  background-color: #AD1457;
}
.lettertile.dark-color2 {
  background-color: #6A1B9A;
}
.lettertile.dark-color3 {
  background-color: #4527A0;
}
.lettertile.dark-color4 {
  background-color: #283593;
}
.lettertile.dark-color5 {
  background-color: #1565C0;
}
.lettertile.dark-color6 {
  background-color: #0277BD;
}
.lettertile.dark-color7 {
  background-color: #00838F;
}
.lettertile.dark-color8 {
  background-color: #00695C;
}
.lettertile.dark-color9 {
  background-color: #2E7D32;
}
.lettertile.dark-color10 {
  background-color: #558B2F;
}
.lettertile.dark-color11 {
  background-color: #9E9D24;
}
.lettertile.dark-color12 {
  background-color: #F9A825;
}
.lettertile.dark-color13 {
  background-color: #FF8F00;
}
.lettertile.dark-color14 {
  background-color: #EF6C00;
}
.lettertile.dark-color15 {
  background-color: #D84315;
}

/* Material icons resized from the default 24pt */
.material-icons {
  font-size: 1.4rem;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
}
.material-icons.small {
  font-size: 1rem;
}
.material-icons.big {
  font-size: 2.4rem;
}

#self-avatar.material-icons, .avatar-box .material-icons {
  font-size: 2.4rem;
}
.avatar-box .material-icons {
  color: rgba(250, 250, 250, 0.8); /* #fafafa, gray 50 */
  background-color: #c0c0c0;
  border-radius: 50%;
}

.chip-input {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  cursor: text;
  font-size: 1.1rem;
  font-weight: normal;
  background: transparent;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
  max-height: 10rem;
  min-height: 4rem;
  overflow-y: scroll;
  margin: 0.25rem 0 0.25rem 0;
  outline: none;
  color: #666;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.chip-input.focused {
  border-bottom: 1px solid #2196f3;
  box-shadow: 0 1px 0 rgba(33, 150, 243, 0.25);
}

.chip-input > input[type="text"] {
  display: inline-block;
  width: auto;
  border: none;
  line-height: 1.8;
  box-shadow: none;
  min-width: 4rem;
  flex: 1 0 auto;
  height: 1.8rem;
  margin: 0.125rem;
}

.chip {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  height: 1.8rem;
  line-height: 1.8;
  border-radius: 0.9rem;
  margin: 0.125rem;
  background-color: #eee;
  white-space: nowrap;
  font-size: 90%;
}

.chip > a {
  display: inline-block;
  color: #ccc;
  background-color: #aaa;
  border-radius: 50%;
  margin: 0.3rem;
  width: 1.175rem;
  height: 1.175rem;
  line-height: 1.15;
  text-decoration: none;
}

.chip > a:focus,
.chip > a:hover {
  text-decoration: none;
  color: #ddd;
  background-color: #bbb;
}

.chip .avatar-box {
  position: relative;
  width: 1.8rem;
  min-width: 1.8rem;
  height: 1.8rem;
  min-height: 1.8rem;
  font-size: 1rem;
  margin-right: 0.2rem;
}

.chip .avatar-box .material-icons {
  font-size: 1.8rem;
}

.chip .spacer {
  display: inline-block;
  margin: 0.3rem;
  width: 0.25rem;
  height: 1.175rem;
}

.load-spinner-box {
  position: absolute;
  box-shadow: 0.1rem 0.1rem 0.15rem 1px rgba(0,0,0,0.25);
  border-radius: 50%;
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  left: 0;
  right: 0;
  top: 5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  z-index: 2;
}

.loader-spinner {
  border: 0.35rem solid #f3f3f3;
  border-radius: 50%;
  border-top: 0.35rem solid #1e88e5;
  width: 2rem;
  height: 2rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.InstallCorsExstnstionClass {
  padding: 15px;
  position: absolute;
  top: 10px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.InstallCorsExstnstionClass a {
  display: inline !important;
     color: #337ab7 !important;
    text-decoration: none !important;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.mui-btn--fab{
  z-index: 0;
}
